/* В файле styles.css */
section {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back-to-top {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.underline-link {
    text-decoration: underline;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#bottom nav ul {
    display: flex;
    gap: 10px;
}